language: android
jdk: oraclejdk8
sudo: false

env:
  matrix:
    - ANDROID_TARGET=android-25

android:
  components:
    # following added as quick fix to get support for 23.0.3 build tools
    # "tools" always refers to the latest build tools version. Remove this
    # when travis is able to parse "build-tools-23.0.3" correctly.
    # See https://github.com/travis-ci/travis-ci/issues/5036
    - tools
    # intentionally duped, see:
    # https://github.com/travis-ci/travis-ci/issues/6040#issuecomment-219367943
    - tools
    # needed build tools
    - build-tools-25.0.2

    # The SDK version used to compile your project
    - android-25

    # extra needed components
    - extra-android-m2repository

before_script:

script: 
  - ./gradlew --info assembleFullDebug testFullDebugUnitTest

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -rf $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

