language: android
jdk: oraclejdk8
sudo: false

env:
  matrix:
    - ANDROID_TARGET=android-22  

sudo: false
addons:
  apt:
    packages:
      - oracle-java8-installer

android:
  components:
    # following added as quick fix to get support for 23.0.3 build tools
    # "tools" always refers to the latest build tools version. Remove this
    # when travis is able to parse "build-tools-23.0.3" correctly.
    # See https://github.com/travis-ci/travis-ci/issues/5036
    - tools
    # needed build tools
    - build-tools-24.0.2

    # The SDK version used to compile your project
    - android-23

    # extra needed components
    - extra-android-m2repository

before_script:

script: 
  - ./gradlew assembleFullRelease
