language: android
jdk: oraclejdk17
sudo: false

env:
  matrix:
    - ANDROID_TARGET=android-32
  global:
    - GRADLE_OPTS="-Xms128m"

android:
  components:
    # needed build tools
    - build-tools-32.0.0

    # The SDK version used to compile your project
    - android-32

    # extra needed components
    - extra-android-m2repository

before_script:

script: 
  - ./gradlew assembleRelease lintRelease testDebugUnitTest 
