<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xbmc.kore">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- Activities -->
        <activity
            android:name="org.xbmc.kore.ui.RemoteActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.xbmc.kore.ui.hosts.HostManagerActivity"/>
        <activity android:name="org.xbmc.kore.ui.hosts.AddHostActivity"/>
        <activity android:name="org.xbmc.kore.ui.hosts.EditHostActivity"/>
        <activity android:name="org.xbmc.kore.ui.MoviesActivity"/>
        <activity android:name="org.xbmc.kore.ui.TVShowsActivity"/>
        <activity android:name="org.xbmc.kore.ui.MusicActivity"/>
        <activity android:name="org.xbmc.kore.ui.AddonsActivity"/>
        <activity android:name="org.xbmc.kore.ui.SettingsActivity"/>
        <activity android:name="org.xbmc.kore.ui.FileActivity"/>

        <!-- Providers -->
        <provider
            android:name="org.xbmc.kore.provider.MediaProvider"
            android:authorities="org.xbmc.kore.provider"
            android:exported="false"/>

        <!-- Services -->
        <service android:name="org.xbmc.kore.service.LibrarySyncService"
            android:exported="false"/>
        <service android:name="org.xbmc.kore.service.NotificationService"
            android:exported="false"/>
        <service android:name="org.xbmc.kore.service.IntentActionsService"
            android:exported="false"/>

    </application>

</manifest>
